@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body{
   font-family: 'Lato', sans-serif;
}

.mycontainer{
   max-width: 85%;
   margin: auto;
}

header input:focus {
   /* outline: none; */
}