@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body{
   font-family: 'Lato', sans-serif;
}

html, body{
   width: 100%;
   overflow-x: hidden;
}

.mycontainer{
   max-width: 92%;
   margin: auto;
}

#modal_button_1:hover{
   color: white!important;
}

#modal_button_2:hover{
   border: 1px solid #F87272;
   background: white;
   color: #F87272;
}

.team{
   background: linear-gradient(rgba(18, 18, 18, 0.9), rgba(18, 18, 18, 0.5)), url(../images/team.png);
   background-size: cover;
   background-position: center center;
   color: white;
}

#slide1{
   background: linear-gradient(rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0.3)), url(../images/banner1.png);
   background-size: cover;
   background-position: center center;
   color: white;
}

#slide2{
   background: linear-gradient(rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0.3)), url(../images/banner2.png);
   background-size: cover;
   background-position: center center;
   color: white;
}

#slide3{
   background: linear-gradient(rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0.3)), url(../images/banner3.png);
   background-size: cover;
   background-position: center center;
   color: white;
}

#slide4{
   background: linear-gradient(rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0.3)), url(../images/banner4.png);
   background-size: cover;
   background-position: center center;
   color: white;
}

@media screen and(min-width: 625px) {
   .mycontainer{
      max-width: 85%;
   }
}